.middle_one_lt {
  display: flex;
  height: 161px;
  width: 34px;
  font-size: 22px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  background: url('~@/assets/middle_pic.png') no-repeat;
  background-size: 100%;
}

.middle_one {
  display: flex;
  justify-content: space-between;
}

.middle_one_md {
  display: flex;
}

.middle_one_rt {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    margin: 4px 0;
    background-color: #aaaaaa;
  }
}
